// 渐入
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// 向右滑入
@keyframes moveRightIn {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

// 向左滑入
@keyframes moveLeftIn {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}

// 向下提示
@keyframes arrowDown {
  0% {
    opacity: 0;
    top: 0;
  }

  50% {
    opacity: 1;
    top: 10px;
  }

  100% {
    opacity: 0;
    top: 0;
  }
}

// 心跳
@keyframes beat {
  0% {
    opacity: 0.88;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(0.88);
  }

  100% {
    opacity: 0.88;
    transform: scale(1);
  }
}

// 向下滑入
@keyframes moveDownIn {
  0% {
    transform-origin: 0 0;
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform-origin: 0 0;
    transform: translateY(0%);
    opacity: 1;
  }
}

// 转圈
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

// 波浪
@keyframes wave {
  0% {
    transform-origin: center bottom;
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform-origin: center bottom;
    transform: scaleY(0);
  }
}