// ======颜色变量==== //

// 状态色
$info: hsl(180, 70%, 45%);
$success: hsl(155, 65%, 65%);
$warning: hsl(45, 100%, 55%);
$error: hsl(348, 100%, 70%);

// 主色
$primary: $info;
$r: 35;
$g: 190;
$b: 213;

// 透明色
$a: 0.08;
$shadow: rgba(0, 0, 0, $a);

// 辅助色
$white: #ffffff;
$black: #333333;
$alpha: rgba(255, 255, 255, 0);
$green: $success;
$active: $error;

// 中性色
$light: #999999;
$gray: #666666;

// 背景色
$background-color: #f9f9f9;

// 线条色
$border-color: #EFEFEF;

// 滚动条
@mixin scroll-bar($color) {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($color: $color, $alpha: 0.2);
        transition: 0.2s;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: $alpha;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba($color: $color, $alpha: 0.6);
    }
}
