* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-clip: padding-box;
  -webkit-tap-highlight-color: $alpha;
}

*:after,
*:before {
  box-sizing: border-box;
  background-clip: padding-box;
}

*:focus {
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
  background: $background-color;
  color: $gray;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  @include scroll-bar($primary);
}

nav,
article,
aside,
details,
main,
header,
footer,
section,
fieldset,
figcaption,
figure {
  display: block;
}

img,
button,
em,
del,
strong,
var,
label,
cite,
small,
time,
mark,
code,
textarea {
  display: inline-block;
}

ol,
li,
ul {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
  object-fit: cover;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
}

input,
textarea {
  width: 100%;
  height: 100%;
  border: 0;
  resize: none;
  color: $black;
}

button {
  border: none 0;
  background: $alpha;
}

Element {
  -webkit-tap-highlight-color: $alpha;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, 0, 0);
}

img {
  max-width: 100%;
  object-fit: cover;
}