// 渐入渐隐
.fadeIn-enter-active {
  animation: fadeIn 0.4s ease-in;
}

.fadeIn-leave-active {
  animation: fadeIn 0.4s ease-in reverse;
}

// 向左滑入
.moveLeftIn-enter-active {
  animation: moveLeftIn 3s;
}
.moveLeftIn-leave-active {
  animation: moveLeftIn 3s reverse;
}

// 向右滑入
.moveRightIn-enter-active {
  animation: moveRightIn 3s;
}
.moveRightIn-leave-active {
  animation: moveRightIn 3s reverse;
}

// 向下滑入
.moveDownIn-enter-active {
  animation: moveDownIn 0.4s ease-in;
}
.moveDownIn-leave-active {
  animation: moveDownIn 0.4s ease-in reverse;
}
